<div class="review-content">
  @for (r of reviews(); track r.idReview) {
  <div class="review-item">
    <div class="review-header">
      <!--Aca deberia ir el nombre del usuario-->
      <span class="review-author">
        <app-review-author [id]="r.idUser"></app-review-author>
      </span>
      @if (r.status) {
        <button class="btn-disable" (click)="disableReview(r.idReview)">
            <i class="fas fa-times-circle"></i> Desactivar
        </button>
      } @else {
        <button class="btn-enable" (click)="enableReview(r)">
            <i class="fas fa-check-circle"></i> Activar
        </button>
      }
    </div>
    <span class="review-rating">
      @for (i of [1, 2, 3, 4, 5]; track i) { @if (r && r.rating >= i) {
      <i class="fas fa-star filled"></i> } @else { <i class="far fa-star empty"></i> } }
    </span>
    <p class="review-body">{{ r.content }}</p>
  </div>
  }
</div>
