@if(!editar) {
<div class="review-item">
  <div class="review-header">
    <!--Aca deberia ir el nombre del usuario-->
    <span class="review-author">(esto tendria que ser el username){{ review()?.idUser }}</span>
    <span class="review-rating">
      @for (i of [1, 2, 3, 4, 5]; track i) { @if (review() && review()!.rating >= i) {
      <i class="fas fa-star filled"></i> } @else { <i class="far fa-star empty"></i> } } ({{
        review()?.rating
      }})
    </span>
  </div>
  <p class="review-body">{{ review()?.content }}</p>

  <div>
    <button (click)="cambiarVista()" class="btn-edit">Editar</button>
  </div>
</div>
} @else {
    <div class="review-item">
        <form [formGroup]="edit" (ngSubmit)="editReview()">
 
        <div class="review-body">
        
        <div>
            <label for="content">Contenido</label>
            <textarea name="content" id="content" formControlName="content"></textarea> 
            @if(getContent().touched) { 
                @if(getContent().hasError('minlength')) {
                    <small>El contenido debe tener al menos un caracter</small> 
                }
                @if(getContent().hasError('maxlength')) { 
                <small>El contenido no puede tener mas de 250 caracteres</small>  
                } 
            } 
        </div>
        <div>
            <label for="rating">Puntuacion</label>
            <input type="number" id="rating" formControlName="rating" /> 
            @if(getRating().touched) { 
                @if(getRating().hasError('min')) { 
                    <small>La calificacion debe ser de al menos una estrella</small>  
                }
                @if(getRating().hasError('maxlength')) { 
                    <small>La calificacion no puede ser mayor a 5 estrellas</small> 
                } 
            } 
        </div>

        <button type="submit">Guardar Cambios</button>
        <button type="button" (click)="cambiarVista()">Cancelar</button>
        <button (click)="delete()">Eliminar</button>
        </div>
        
        </form>
    </div>
}
