
<form class="search-form" (submit)="$event.preventDefault()">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input 
        type="text" 
        (input)="onSearchInput($event)" 
        [ngModel]="currentSearchTerm" 
        name="searchTerm"
        placeholder="Buscar libro por titulo..."
        (keydown.enter)="onSearchSubmit()"
    />
</form>

<div class="book-buttons-container">
    @if(searchResultBooks() === undefined) {
        <p>Escribe un título y presiona Enter para buscar libros.</p>
    }
    @for(book of searchResultBooks(); track book.id ) {
        <button 
            (click)="onBookSelect(book)"
            [class.selected]="selectedBook()?.id === book.id"
        >
            {{ book.title }}
        </button>
    }
</div>

<div class="reviews-container">
    @if(selectedBook()) {
        <h2>Reseñas activas para: {{ selectedBook()!.title }}</h2>
        <ul class="review-item">
            @for (r of reviews(); track r.idReview) {
                <app-review-item [review]="r"></app-review-item>
            }
        </ul>
        
        @if (inactiveReviews().length > 0) {
            <h2>Reseñas Inactivas</h2>
            <ul class="review-item">
                @for (r of inactiveReviews(); track r.idReview) {
                    <app-review-item [review]="r"></app-review-item>
                }
            </ul>
        }
    }
    
</div>
