.home-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-bottom: 30px;
}


.main-content {
    flex: 1;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--line-gray);
}

.book-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* --- Layout responsivo --- */
@media (max-width: 900px) {
    .home-container {
        flex-direction: column;
    }

}