.book-card {
    height: 250px;
    display: flex;
    gap: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    align-items: flex-start;
}

.img-container{
    width: 15%;
    height: 100%;
    overflow: hidden;
}

.book-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 0px 0px 4px;
}

.book-info {
    padding: 1.5rem;
    flex: 1;
}

.book-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.book-author {
    font-size: 0.9rem;
    color: #777;
    margin: 0.3rem 0 1rem;
}

.book-description {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}

button{
    background-color: var(--main-red);
    border: none;
    color: #fff;
    font-size: 13px;       
    font-weight: 600;       
    letter-spacing: 0.3px;  
    text-transform: none;   
    border-radius: 4px;    
    padding: 6px 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 1px var(--darker-red);
}

button:hover{
    background-color: var(--darker-red);
}

@media ((max-width: 350px)) {
    .book-card{
        height: 240px;
    }
}