<nav class="navbar">
  <div class="navbar-left"><a class="brand" routerLink="/">ReviuBook</a></div>

  <div class="navbar-center">
    <form class="search-form">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Buscar..." class="search-input" />
    </form>
  </div>

  <div class="navbar-right">

    @if (currentUser(); as user) {
      <button mat-button class="navbar-username" [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        {{ user.username }}
        <i class="fas fa-caret-down"></i>
      </button>

      <mat-menu #userMenu="matMenu" panelClass="user-menu-panel">

        <a mat-menu-item routerLink="/profile">
          <i class="fas fa-user-circle" style="margin-right: 8px;"></i>Ver mi perfil
        </a>

        <a mat-menu-item (click)="logout()">
          <i class="fas fa-sign-out-alt" style="margin-right: 8px;"></i>Cerrar Sesión
        </a>
      </mat-menu>

    } @else {
      <button class="login-btn" mat-button (click)="openLoginModal()">
        <i class="fas fa-user"></i> Login
      </button>
    }
  </div>
</nav>
