<nav class="navbar">
  
  <div class="navbar-left">
    <a class="brand" routerLink="/">ReviuBook</a>
  </div>
  
  <div class="navbar-center">
    <form class="search-form">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Buscar..." class="search-input">
    </form>
  </div>

  <div class="navbar-right">
    <!-- Aca de podria usar un defer o condicional 
     para renderizar el boton segun si esta logueado o no-->
    <button class="login-btn" mat-button (click)="openLoginModal()">
    <i class="fas fa-user"></i> Login
</button>
  </div>

</nav>