/* navbar gral */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  background-color: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 1px 0px 15px var(--line-gray);
}

/* buscador */
.navbar-center {
  /* Permite que el elemento se expanda y ocupe el espacio central */
  flex-grow: 1; 
  display: flex;
  justify-content: center; /* Centra el formulario dentro del espacio disponible */
}

.search-form {
  display: flex;
  align-items: center;
  /* El ancho se puede ajustar al gusto. 
       Se usa max-width para que no sea demasiado grande en pantallas amplias */
  max-width: 400px; 
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px; /* Bordes ligeramente redondeados */
  padding: 0 10px;
}

.search-form i {
  color: #555;
  margin-right: 8px;
}

.search-input {
  border: none;
  padding: 8px 0;
  font-size: 1rem;
  width: 100%; /* El input ocupa todo el espacio restante */
  outline: none; /* Quita el borde de enfoque por defecto */
}

/* logo ReviuBook */
.brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #d60000; /* rojo principal */
  text-decoration: none;
}

/* boton login */
.login-btn {
  background-color: #d60000;
  border: none;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-btn:hover {
  background-color: #b00000;
}

.login-btn i {
  margin-right: 6px;
}

.navbar-username {
  color: black; 
  background-color: transparent;
  padding: 0.4rem 0.6rem; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.navbar-username:hover {
  background-color: #f0f0f0; 
}

.navbar-username .fas.fa-caret-down {
  margin-left: 5px;
  font-size: 0.8rem;
}