<footer class="footer">
  <div class="footer-content">
    <p>© 2025 <span class="brand">ReviuBook</span>. All Rights Reserved.</p>

    <div class="footer-links">
      <a href="https://github.com/Melisa-Carrizo/ReviuBook" target="_blank">
        <i class="fa fa-github"></i> Project Repository
      </a>
      <span class="creators">
        Creators:
        <a href="https://github.com/Melisa-Carrizo" target="_blank"><i class="fa fa-github"></i> Carrizo Melisa</a>,
        <a href="https://github.com/CastroLautaro1" target="_blank"><i class="fa fa-github"></i> Castro Lautaro</a>,
        <a href="https://github.com/CiroDiPaolo" target="_blank"><i class="fa fa-github"></i> Di Paolo Ciro</a>
      </span>
    </div>
  </div>
</footer>