/* You can add global styles to this file, and also import other style files */
:root{
    --bg-color-white: #F9FAFC;
    --line-gray: #ECECEC;
    --main-red: #d60000;
    --darker-red:#b00000;
    --gray-filter:#f5f5f5;
    --text-gray:#666;
    --bg-gray:#cccbcb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--bg-color-white);
}

.success-snackbar {
  background-color: #4CAF50; 
  color: white; 
  font-weight: 600;

  .mdc-snackbar__action {
    color: white;
    font-weight: bold;
  }
}

.error-snackbar {
  background-color: var(--darker-red); 
  color: white;
  font-weight: 600;

  .mdc-snackbar__action {
    color: white;
    font-weight: bold;
  }
}

/* fondo gris sólido en TODOS los mat-menu (puedes limitarlo después si querés) */
.cdk-overlay-container .mat-mdc-menu-panel {
  background-color: #f5f5f5 !important;
  color: #000 !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px !important;
}

/* contenido */
.cdk-overlay-container .mat-mdc-menu-content {
  background-color: #f5f5f5 !important;
}

/* items */
.cdk-overlay-container .mat-mdc-menu-item {
  color: #000 !important;
  background-color: transparent !important;
}

.cdk-overlay-container .mat-mdc-menu-item:hover {
  background-color: #e0e0e0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
