<div class="book-card-container">
  <div class="book-card">
    <div class="book-image-wrapper">
      <img src="{{book()?.urlImage}}" alt="{{book()?.title}} Cover" class="book-image">
    </div>
    <div class="book-details">
      <h2 class="book-title">{{book()?.title}}</h2>
      <p class="book-description">
        {{book()?.description}}
      </p>
      <div class="book-meta">
        <span class="book-author"> {{book()?.author}}</span>
        <span class="book-date">Publicado: {{book()?.releaseDate}}</span>
      </div>
      <div class="book-meta">
        <span class="book-publisher"> Editorial: {{book()?.publishingHouse}}</span>
      </div>
      @if (!isAdmin()) {
        @if (isFavourite() === true) {
        <button class="delete-from-favorites-btn" (click)="deleteFromFavourite()">
          <i class="fas fa-star"></i> Eliminar de favoritos
        </button>
      } 
      @else {
        <button class="add-to-favorites-btn" (click)="addToFavourite()">
          <i class="fas fa-star"></i> Agregar a favoritos
        </button>
      }
      }
    </div>
  </div>

  <app-review-list
    [reviews]="reviews()"
    [idBook]="book()?.id"
    (reviewUpdate)="handlerReviewUpdate($event)"
    (reviewDelete)="handlerReviewDelete($event)" 
  ></app-review-list>
  <section>
    <app-pagination-bar [data]="pageMetadata()" (pageChange)="onPageChange($event)"></app-pagination-bar>
  </section>
</div>